<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Virtual Gallery Explorer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLoginApplication2"
        tools:targetApi="31">
        <activity
            android:name=".ui.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ItemListActivity"
            android:exported="false" />
        <activity
            android:name=".Gallery"
            android:exported="false"
            android:theme="@style/Theme.MyLoginApplication2" />
        <activity
            android:name=".ui.Tab_Navigation_Activity"
            android:exported="false"
            android:label="@string/title_activity_tab_navigation" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>